
        
   .fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-style: groove;
   
    border-image: initial;
    box-shadow: 6px 5px 10px #9adcd8;
}
        .form-control {
            height: 40px;
            box-shadow: none;
            color: #969fa4;
        }

        .form-control:focus {
            border-color: black;
        }

        .form-control,
        .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 450px;
            margin: 30px auto 30px;
            font-size: 15px;
            color: #0c8179;
            border-radius: 3px;
          	font-family: 'Roboto', sans-serif;
            background: #f2f3f7;
            box-shadow: 2px 2px 6px grey;
            padding: 30px;
        }



        .signup-form .hint-text {
            color: #999;
            margin-bottom: 30px;
            text-align: center;
        }

        .signup-form .form-group {
            margin-bottom: 20px;
        }


        .signup-form .btn {
            font-size: 16px;
            font-weight: bold;
            min-width: 140px;
            outline: none !important;
            display: block;
            margin: 0 auto;
            background : #9ADCD8;
            color: #999;
            border-color : #9ADCD8;
           
        }

        .signup-form .row div:first-child {
            padding-right: 10px;
        }

        .signup-form .row div:last-child {
            padding-left: 10px;
        }

        .signup-form a {
            color: #fff;
            text-decoration: underline;
        }

        .signup-form a:hover {
            text-decoration: none;
        }

        .signup-form form a {
            color: #9ADCD8;
            text-decoration: none;
        }

        .signup-form form a:hover {
            text-decoration: underline;
        }
        .signup-form h2 {
            color: #9ADCD8;
            margin: 0 0 15px;
            display:relative;
            text-align: center;
        }
		.signup-form h2::before{
			content:"--"
		}
		.signup-form h2::after{
			content:"--"
		}
		

