@charset "ISO-8859-1";

.show-user{
	background: #198754;
	margin:0 auto;
	color:white;
	
}

.options{
	margin: 30px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	margin-right:-150px
	
}
.option-list{
	width:400px
}
#title{
	text-align: center;
	;
}

.option-list li{
	 list-style: none;
	 margin-left:-30px;
	 color:grey;
}
.option-list .btn {
	border:solid 1px;
	margin : 3px 0;
	box-shadow: 2px 2px 2px grey;
}
.nav-item .btn {
	border:solid 1px;
	margin : 0 3px;
	box-shadow: 2px 2px 2px grey;
}

.nav-item .btn:hover, .option-list .btn:hover {
  background-color: #198754; /* Green */
  color: #fff;
  border-color:#198754
}
.container-fluid {
	margin-left:35px;
}
