@charset "ISO-8859-1";

.options{
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	margin: 50px 30px 30px 30px;
}
.option-list{
	width:400px;
	text-align: center;
	height:300px;
}
#title{
	text-align: center;
	;
}

.option-list li{
	 list-style: none;
	 margin-left:-30px;
	 color:grey;
}
.option-list .btn {
	border:solid 1px;
	margin : 3px 0;
	box-shadow: 2px 2px 2px grey;
}
.nav-item .btn {
	border:solid 1px;
	margin : 0 3px;
	box-shadow: 2px 2px 2px grey;
}

.nav-item .btn:hover, .option-list .btn:hover , .user-container .btn:hover{
  background-color: #198754; /* Green */
  color: #fff;
  border-color:#198754
}


.user-container{
	position:absolute;
	top:0px;
	right:4px;
}
.user-container ul{
	list-style:none;
}
.user-container .btn {
	width:100px;
    border: solid 1px;
    margin: 3px 0;
    box-shadow: 2px 2px 2px grey;
    }

.dropdown-item {
	 text-align:center;
	 padding: 5px 0px;
}
.dropdown-menu a{
	text-decoration:none;
	color:#a70b0b;
}
.dropdown-menu{
	padding:0;
	min-width:100px;
	background:transparent;
	font-size:14px;
}
.dropdown-item a{
	 display:block;
	 width:100%;
	
}
.dropdown-item a:hover{

  	color: #fff;
}
.dropdown-item:hover{
	 background-color: #198754; 
  	color: #fff;
  	border-color:#198754;
}



