@charset "ISO-8859-1";

.t-head{
	background-color: #198754;
}
.table tr:nth-child(even) {
    background-color: #E7E9EB;
}
.prueba{
	text-align:center;
}
.linkVenta {
	height: "5px";
	width: "5px";
	border:solid 1px;
	margin : 3px 0;
	box-shadow: 2px 2px 2px grey;
}

.linkVenta:hover {
  background-color: #198754; /* Green */
  color: #fff;
  border-color:#198754
}