<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>DrogaABMC</display-name>
    <servlet-name>DrogaABMC</servlet-name>
    <servlet-class>servlets.DrogaABMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrogaABMC</servlet-name>
    <url-pattern>/ABMC-droga/*</url-pattern>
  </servlet-mapping>
  <display-name>Farmacia_TP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>AltaLaboratorio</display-name>
    <servlet-name>AltaLaboratorio</servlet-name>
    <servlet-class>servlets.AltaLaboratorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaLaboratorio</servlet-name>
    <url-pattern>/AltaLaboratorio</url-pattern>
    <url-pattern>/ui-laboratorio/createlaboratorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuLaboratorio</display-name>
    <servlet-name>MenuLaboratorio</servlet-name>
    <servlet-class>servlets.MenuLaboratorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuLaboratorio</servlet-name>
    <url-pattern>/MenuLaboratorio</url-pattern>
    <url-pattern>/ui-laboratorio/menulab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyLab</display-name>
    <servlet-name>modifyLab</servlet-name>
    <servlet-class>servlets.modifyLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyLab</servlet-name>
    <url-pattern>/modifyLab</url-pattern>
    <url-pattern>/ui-laboratorio/modifylab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLab</display-name>
    <servlet-name>deleteLab</servlet-name>
    <servlet-class>servlets.deleteLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLab</servlet-name>
    <url-pattern>/deleteLab</url-pattern>
    <url-pattern>/ui-laboratorio/deletelab</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
    <display-name>ObraSocialABMC</display-name>
    <servlet-name>ObraSocialABMC</servlet-name>
    <servlet-class>servlets.ObraSocialABMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObraSocialABMC</servlet-name>
    <url-pattern>/ABMC-obrasocial/*</url-pattern>
  </servlet-mapping>
</web-app>