<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>altaDroga</display-name>
    <servlet-name>altaDroga</servlet-name>
    <servlet-class>servlets.altaDroga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>altaDroga</servlet-name>
    <url-pattern>/createdrug</url-pattern>
  </servlet-mapping>
  <display-name>Farmacia_TP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>updateDroga</display-name>
    <servlet-name>updateDroga</servlet-name>
    <servlet-class>servlets.updateDroga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDroga</servlet-name>
    <url-pattern>/updateDroga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateJava</display-name>
    <servlet-name>updateJava</servlet-name>
    <servlet-class>servlets.UpdateJava</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateJava</servlet-name>
    <url-pattern>/updatejava</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDroga</display-name>
    <servlet-name>UpdateDroga</servlet-name>
    <servlet-class>servlets.UpdateDroga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDroga</servlet-name>
    <url-pattern>/UpdateDroga</url-pattern>
    <url-pattern>/updatedroga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASd</display-name>
    <servlet-name>ASd</servlet-name>
    <servlet-class>servlets.ASd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASd</servlet-name>
    <url-pattern>/ASd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllDroga</display-name>
    <servlet-name>GetAllDroga</servlet-name>
    <servlet-class>servlets.GetAllDroga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDroga</servlet-name>
    <url-pattern>/GetAllDroga</url-pattern>
    <url-pattern>/getalldrogas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyDroga</display-name>
    <servlet-name>modifyDroga</servlet-name>
    <servlet-class>servlets.modifyDroga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyDroga</servlet-name>
    <url-pattern>/modifydrug</url-pattern>
  </servlet-mapping>
</web-app>