<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>DrogaABM</display-name>
    <servlet-name>DrogaABM</servlet-name>
    <servlet-class>servlets.DrogaABM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrogaABM</servlet-name>
    <url-pattern>/ui-droga/ABM-droga</url-pattern>
  </servlet-mapping>
  <display-name>Farmacia_TP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AltaObraSocial</display-name>
    <servlet-name>AltaObraSocial</servlet-name>
    <servlet-class>servlets.AltaObraSocial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaObraSocial</servlet-name>
    <url-pattern>/ui-obraSocial/createobrasocial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyObraSocial</display-name>
    <servlet-name>ModifyObraSocial</servlet-name>
    <servlet-class>servlets.ModifyObraSocial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyObraSocial</servlet-name>
    <url-pattern>/ui-obraSocial/modifyObraSocial</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AltaLaboratorio</display-name>
    <servlet-name>AltaLaboratorio</servlet-name>
    <servlet-class>servlets.AltaLaboratorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaLaboratorio</servlet-name>
    <url-pattern>/AltaLaboratorio</url-pattern>
    <url-pattern>/ui-laboratorio/createlaboratorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuLaboratorio</display-name>
    <servlet-name>MenuLaboratorio</servlet-name>
    <servlet-class>servlets.MenuLaboratorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuLaboratorio</servlet-name>
    <url-pattern>/MenuLaboratorio</url-pattern>
    <url-pattern>/ui-laboratorio/menulab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyLab</display-name>
    <servlet-name>modifyLab</servlet-name>
    <servlet-class>servlets.modifyLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyLab</servlet-name>
    <url-pattern>/modifyLab</url-pattern>
    <url-pattern>/ui-laboratorio/modifylab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLab</display-name>
    <servlet-name>deleteLab</servlet-name>
    <servlet-class>servlets.deleteLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLab</servlet-name>
    <url-pattern>/deleteLab</url-pattern>
    <url-pattern>/ui-laboratorio/deletelab</url-pattern>
  </servlet-mapping>
</web-app>